{% extends "main.html" %}
{% block content %}
{% include "header.html" %}
	<div class="row divider green">
		<div class="col-md-12"></div>
	</div>
	<div class="row banner menu">
		<div class="col-md-11 col-md-offset-1 padding-none">
			<h1>Edit Film</h1>
		</div>
	</div>
	<div class="row">
		<div class="col-md-6 col-md-offset-1 padding-top">
			<form action="#" method = "post">
				<div class="form-group">
					<label for="title">Title:</label>
					<input type ="text" maxlength="80" class="form-control" name="title" placeholder="{{ film.title }}">

          <label for="year">Year:</label>
					<input type ="integer" maxlength="5" class="form-control" name="year" placeholder="{{ film.year}}">

          <label for="description">Description:</label>
					<input type ="text" maxlength="250" class="form-control" name="description" placeholder="{{ film.description }}">

          <label for="poster_image">Poster Image:</label>
          <input type ="text" maxlength="250" class="form-control" name="poster_image" placeholder="{{ film.poster_image }}">
					<button type="submit" class="btn btn-default" id="submit" type="submit">
					<span class="glyphicon glyphicon-ok" aria-hidden="true"></span> Save</button>
					</form>
					</div>
					<a href = "{{url_for('showFilms', genre_id = film.genre_id )}}">
					<button class="btn btn-default delete">
					<span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Cancel</button>
					</a>


		</div>
	</div>
{% endblock %}
